<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Shipper</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in the recipient, the weight, and the three dimensions of your package</h1>
    <form action='/parcels'>
      <div class='form-group'>
        <label for='recip'>Name of the recipient</label>
        <input id='recip' name='recip' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='weight'>Package weight</label>
        <input id='weight' name='weight' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='dimX'>Package height</label>
        <input id='dimX' name='dimX' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='dimY'>Package length</label>
        <input id='dimY' name='dimY' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='dimZ'>Package width</label>
        <input id='dimZ' name='dimZ' class='form-control' type='text'>
      </div>
      <button type='submit' class='btn'>Go!</button>
    </form>
  </body>
</html>
